In [1]:
import pandas as pd

df = pd.read_csv('../data/application_train.csv')

# Tạo bản sao để test
df_fe = df[['TARGET', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'DAYS_BIRTH', 'DAYS_EMPLOYED']].copy()

# Feature 1: Tỷ lệ Nợ / Thu nhập (Khách vay quá tay?)
df_fe['PAYMENT_RATE'] = df_fe['AMT_ANNUITY'] / df_fe['AMT_INCOME_TOTAL']

# Feature 2: Tỷ lệ Khoản vay / Thu nhập
df_fe['CREDIT_TO_INCOME'] = df_fe['AMT_CREDIT'] / df_fe['AMT_INCOME_TOTAL']

# Feature 3: Tuổi của khách hàng (Dữ liệu gốc tính bằng ngày âm, cần chia -365)
df_fe['AGE_YEARS'] = df_fe['DAYS_BIRTH'] / -365

# Feature 4: Tỷ lệ thời gian đi làm / Tuổi đời (Ổn định công việc)
df_fe['EMPLOYED_TO_AGE_RATIO'] = (df_fe['DAYS_EMPLOYED'] / -365) / df_fe['AGE_YEARS']

print("Đã tạo xong các Feature mới. Xem trước 5 dòng:")
display(df_fe.head())

Đã tạo xong các Feature mới. Xem trước 5 dòng:

,TARGET,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,DAYS_BIRTH,DAYS_EMPLOYED,PAYMENT_RATE,CREDIT_TO_INCOME,AGE_YEARS,EMPLOYED_TO_AGE_RATIO
0,1,202500.0,406597.5,24700.5,-9461,-637,0.121978,2.007889,25.920548,0.067329
1,0,270000.0,1293502.5,35698.5,-16765,-1188,0.132217,4.790750,45.931507,0.070862
2,0,67500.0,135000.0,6750.0,-19046,-225,0.100000,2.000000,52.180822,0.011814
3,0,135000.0,312682.5,29686.5,-19005,-3039,0.219900,2.316167,52.068493,0.159905
4,0,121500.0,513000.0,21865.5,-19932,-3038,0.179963,4.222222,54.608219,0.152418